wp-content/uploads/
wp-content/themes/foundationpress_*
wp-content/themes/fusion-base/node_modules/
wp-content/themes/fusion-base/packaged/
wp-admin
wp-includes
license.txt
index.php
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
.htaccess