// Apply outline styles only when input method is keyboard
// remove :focus style via What Input using progressive enhancement
// so :focus isn't left broken if JavaScript fails

[data-whatinput="mouse"] a:focus, button:focus
[data-whatinput="touch"] a:focus, button:focus {
  outline: none;
}

// Links

.link-dark-bg {
    color: $link-dark-color;
    &:hover,
    &:focus {
        color: $link-dark-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

a[disabled=disabled] {
    color: rgba(64, 64, 65, .35);
    cursor: $cursor-disabled;
    &:hover,
    &:focus,
    &.focus {
        color: rgba(64, 64, 65, .35);
        background-color: transparent;
    }
}