.style-guide-section {
    margin-bottom: 60px;
    h2 {
        font-weight: 600;
    }
}

.style-guide-dark-background {
    background: #0C222C;
    margin: 0 20px;
    display: inline-block;
    p {
        color: white;
    }
}